<% if signed_in? %>

<div class="row">
	<div class="span4or8 center-span">
		<aside class="span4 left-side">
			<section >
				<%= render 'shared/user_info' %>
			</section>
			<section class="gather-form">
				<%= render 'shared/gather_form' %>
			</section>
		</aside>
		<div class="span4 feed">
			<%= render 'shared/feed' %>
		</div>
	</div>
</div>
<% else %>
<div class="row">
	<div class="center center-span span4or9 hero-unit-2">
<!-- 		<h2 class="welcome-front">Welcome to</h2> -->
		<h1 class="logo-front">Bloon</h1>
		<h2 class="desc-front black">Effortlessly organize hangouts with friends</h2>
		<br>
		<h2 class="desc-front black"><b>Why use Bloon:</b></h2>
		<section >
			<%= render 'static_pages/why' %>
		</section>
		<br>
		<h2 class="desc-front"><b>How it works:</b></h2>
		<section >
			<%= render 'static_pages/how' %>
		</section>
		<br>
		<p class="waitlist-front">Interested? Get on our waitlist!</p>
			<%= render 'wait_list/new' %>
	</div>
</div>
<% end %>