<% if signed_in? %>

<div class="row">
	<div class="center-span">
<!-- 		<aside class="span4 left-side">
			<section class="gather-form">
				%= render 'shared/gather_form' %>
			</section>
		</aside> -->
		<div class="feed">
			<div id="gather_form" style="display:none;"><h2>Create bloon:</h2><%= render 'gathers/new' %><h2>Your invitation feed:</h2></div>
			<%= render 'shared/feed' %>
		</div>
	</div>
</div>
<% else %>
<div class="row">
	<div class="center center-span">
		<h1 class="logo-front">Have more fun.</h1>
		<h2 class="desc-front blurb">Bloon helps you organize social activities for you and your friends, effortlessly.
		<br>
		<a href="<%= '/more' %>" id="ga-learn-more">Learn more</a>
		</h2>
		<div class="signup-login"><a href="<%= '/signin' %>">Log in.</a> Sign up now:</div>
		<section>
			<%= render 'users/new' %>
		</section>
	</div>
</div>
<% end %>