<% if signed_in? %>
	<div class="row">
		<aside class="span4 left-side">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
			<%= render 'shared/gather_form' %>
		</section>
		</aside>
		<div class="span5 feed">
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to Potlucky</h1>
		
		<h2>
			This is the home page for Potlucky :)
		</h2>

		<p>If you're interested in signing up, please submit your email to our waitlist</p>

 		<%= form_tag 'wait_list', :method => :post do %>
		  <div class="field">
		    <%= label_tag :email %>
		    <%= text_field_tag :email, params[:email] %>
		  </div>
		  <div class="actions"><%= submit_tag "Add to waitlist" %></div>
		<% end %>

	</div>
<% end %>