<% if signed_in? %>
	<% if current_user.phone.present? %>
		<div class="row">
			<div class="center-span">
		<!-- 		<aside class="span4 left-side">
					<section class="gather-form">
						%= render 'shared/gather_form' %>
					</section>
				</aside> -->
				<%= render 'shared/new_form' %>
				<div class="feed">					
					<div id="gather_form" style="display:none;"><h2>Create bloon:</h2><%= render 'gathers/new' %><h2>Your invitation feed:</h2></div>
					<% if @feed_items.any? %><div class="your-feed-header">Activity Feed</div><% end %>
					<%= render 'shared/feed' %>
				</div>
			</div>
		</div>
	<% else %>
		<%= render 'users/phone' %>
	<% end %>
<% else %>
<div class="row">
	<div class="center center-span">
		<div class="row bg-white min-height-500"><div class="not-logged-in-900 margin-top-40">
		  <div class="col-md-5 padding-lr-15">
		  	<%= image_tag("step3mjh50.png", id: "sampleimg") %>
		  </div>		  <div class="col-md-7">
		  	<h1 class="main-blurb form-300"><div id="changeText"></div>Schedule it with Bloon.</h1>
	  		
		    <script type="text/javascript">
		    var text = ["Need at least 5 friends for a potluck?", "Need at least 4 friends to play basketball?", "Need at least 6 friends to have a BBQ?", "Need at least 4 friends to play Settlers?"];

		    var counter = 0;
		    var elem = document.getElementById("changeText");
		    setInterval(change, 1500);
		    function change() {
		     elem.innerHTML = text[counter];
		        counter++;
		        if(counter >= text.length) { counter = 0; }
		    }
		    </script>
			<section>
				<%= render 'users/new' %>
			</section>
		  </div>

		</div></div>
		<div class="padding-top-bottom-60 bg-f8">
			<%= render 'static_pages/how' %>
		</div>
		<div class="padding-top-bottom-60 bg-white">
			<%= render 'static_pages/why' %>
		</div>
		

<!-- 		<h1 class="logo-front">Have more fun</h1>
		<h2 class="desc-front blurb">Bloon helps you organize social activities for you and your friends, effortlessly -->
	</div>
</div>
<%= render 'layouts/facepile' if !signed_in? %>		
<% end %>