<% provide(:title, "Sign in") %>
<div class="row">
	<div class="span4 hero-unit-2 center center-span">
		<h1>Sign in</h1><p></p>
			<%= form_for(:session, url: sessions_path) do |f| %>

				<%= f.text_field :email, placeholder: "Email" %>
				<%= f.password_field :password, placeholder: "Password" %>

				<%= f.submit "Sign in", class: "btn btn-block btn-invite btn-large" %>
			<% end %>

<!-- 			<p>New user? <%= link_to "Sign up now!", signup_path %></p> -->
			<p class="forgot-password"><%= link_to "Forgot your password?", reset_path %></p>
	</div>
</div>