<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @gather.user.name.split(' ').first %> has invited <%= @gather.invited.sub(@user.email,"").split(' ').join(', ') %>
      <% if @gather.invited.sub(@user.email,"").split(' ').join(', ') != "" %>
        <%= "and you" %>
      <% else %>
        <%= "you" %>
      <% end %>
      to:
    </p>
       <h2><%= @gather.activity %></h2>
    <p>   
      The activity will only take off if at least <%= @gather.tilt + 1 %> friends join. 
      If you're interested, <%= link_to "join #{@gather.user.name.split(' ').first} on Bloon", @url %> or <b>text Y<%= @invitation.id %> </b>to<b> <a href=<%="sms:"+ENV['TWILIO_MAIN'].sub('+1',"").unpack('A3A3A4').join('-')%>> <%= ENV['TWILIO_MAIN'].sub('+1',"").unpack('A3A3A4').join('-') %></a></b> so we can notify you if this activity takes off.
      <br>
      <br>
    </p>
    <p>
      &#8212;
      <br>
      Organized via Bloon. <%= link_to "Join", @url %> <%= @gather.user.name.split(' ').first %> on Bloon and effortlessly organize more fun with friends.
    </p>
    <p><small>
      Note: Your cell number will receive text messages to notify you of invitations and to organize activities with friends.
    </small></p>
  </body>
</html>
