<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: helvetica; font-size: 1em;">

  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0;padding:0;height:100%;width:100%;background:#cce3f7;font-family:helvetica"><tbody><tr><td align="center" valign="top"><tr>
<!--     <table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin:0; width:100%;height:100%; background:#cce3f7; font-family:helvetica"><tbody><tr> -->
      <td align="center" style="border-collapse:collapse; padding: 0 15px 0 15px;">
      <table border="0px" cellpadding="0" cellspacing="0" width="450" style="background:#fff;border:0px solid #e44556;max-width:450px; color: #505050;">
        <tbody>
          <tr>
            <td align="center" height="20px" style="border-collapse:collapse;background:#cce3f7">
            </td>
          </tr>
          <tr>
            <td align="left" height="31px" style="color:#e44556; padding: 15px 20px 15px 20px; background:#fff">
              Bloon
            </td>
          </tr>
          <tr>
            <td align="center" height="1px" style="border-collapse:collapse;background:#cce3f7; padding: 0px 20px 0px 20px;">
            </td>
          </tr>
          <tr>
            <td align="left" style="border-collapse:collapse;background:#fff;padding: 20px 20px 20px 20px; font-size: 16px; line-height: 150%; text-align:left">
              <%= @calinvite.cal_activity %><br>
              <%= @calinvite.cal_date.strftime("%a, %B %-e") %> at <%= @calinvite.cal_time.strftime("%-l:%M%p") %><br>
              <%= @calinvite.cal_location if @calinvite.cal_location.present? %>
              <% if @calinvite.cal_location.present? %><br><% end %>
              <%= "Details: " if @calinvite.cal_details.present? %><%= @calinvite.cal_details if @calinvite.cal_details.present? %>
              
            </td>
          </tr>
          <tr>
            <td align="center" height="4px" style="border-collapse:collapse;background:#D6D7DB">
            </td>
          </tr>
          <tr>
            <td align="center" style="background:#cce3f7;border-collapse:collapse;">
              <p style="margin:0;padding:0;font-size:11px;color:#9a9a9a">
    <br>&copy; 2013 Bloon Inc. San Francisco, CA | <a href="mailto:hello@bloon.us" style="font-weight:normal;text-decoration:none;" target="_blank">hello@bloon.us</a><br><br>
      </p>
            </td>
          </tr>

        </tbody>
      </table>
      </td>
<!--     </tr></tbody></table> -->
  </tbody></tr></td></tr></table>
  </body>
</html>



