<% if current_page?(controller: 'gathers', action: 'show') %>
	<div class="new-user-bg">
		<h3>Sign up to join:</h3>
<% end %>
<div class="form-300 all-wide-form">

	<a href="/auth/facebook", id: "sign_in" >
		<div class="fb-signup"><%= image_tag("FB-f-Logo__blue_72.png") %>Sign up with Facebook</div>
	</a>

	<a href="#" onclick="toggle_visibility('email_signup'); return false;" class="email_signup">&nbsp &nbsp <i class="fa fa-envelope fa-1x"></i>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Sign up with Email</a>

	<% if current_page?(controller: 'gathers', action: 'show') %>
	<!-- Invited with gather link -->
		<div id="email_signup" style="display:none;">
			<%= form_for(User.new) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
			        <!-- <%= f.fields_for :invitations do |f_i| %> -->
			        <input type="hidden" name="gatherfrominvite" value="<%= @gather.id %>">

					<%= f.text_field :name, placeholder: "Full Name", :autofocus => true %>
					<%= f.text_field :email, placeholder: "Email"  %>
					<!-- <%= f.text_field :phone, placeholder: "Cell Number" %> -->
					<%= f.password_field :password, placeholder: "Password" %>
					<!-- %= f.password_field :password_confirmation, placeholder: "Confirmm Password" %> -->

					<%= f.submit "Join", data: { disable_with: 'Joining...' }, class: "btn btn-large btn-new-user btn-block" %>
					<!-- <% end %> -->
			<% end %>
		    <!-- <p class="forgot-password">We will never give away your information to 3rd parties. You will receive text messages to notify you of invitations and to organize activities with friends</p> -->
		</div>
	<% else %>
	<!-- Home page sign up -->
		<div id="email_signup" style="display:none;">
			<%= form_for(User.new) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
				<%= f.text_field :name, placeholder: "Full Name", :autofocus => true %>
				<%= f.text_field :email, placeholder: "Email"  %>
				<!-- <%= f.text_field :phone, placeholder: "Cell Number" %> -->
				<%= f.password_field :password, placeholder: "Password" %>
				<!-- %= f.password_field :password_confirmation, placeholder: "Confirmm Password" %> -->

				<%= f.submit "Join Bloon", data: { disable_with: 'Joining Bloon :D' }, class: "btn btn-large btn-new-user btn-block" %>
			<% end %>
		    <!-- <p class="forgot-password">We will never give away your information to 3rd parties. You will receive text messages to notify you of invitations and to organize activities with friends</p> -->
		</div>
	<% end %>
	
	<div class="have-account">
		or <a href="/signin" id="ga-sign-in">Sign in</a>
	</div>
</div>
<% if current_page?(controller: 'gathers', action: 'show') %>
	</div>
<% end %>