<% provide(:title, "Edit user") %>
  <div class="span4 hero-unit-2 center">
    <h1>Your Profile</h1><p></p>
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.text_field :name, placeholder: "Name" %>
          <%= f.text_field :email, placeholder: "Email" %>
          <%= f.text_field :phone, placeholder: "Cell Number" %>
          <%= f.password_field :password, placeholder: "Password" %>
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

          <%= f.submit "Save", class: "btn btn-large btn-invite btn-block" %>
        <% end %>

        <p class="forgot-password">We will never give away your information to 3rd parties. Your cell number will receive text messages to notify you of invitations and to organize activities with friends.</p>
<!--         <%= gravatar_for(@user) %>
        <a href="http://gravatar.com/emails">change</a>
 -->  
  </div>