<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
	    <%= gravatar_for @user %>
	    <h1><%= @user.name %></h1>      
		<span>
		</span>
		<span>
		  <%= pluralize(@user.gathers.count, "gathering") %> created
		</span>
		<span>
		  <%= @user.gatherings.count %> invited to
		</span>
      
    </section>
  </aside>
	<div class="span8">
		
			<ol class="gathers">
				<% @userfeed = @user.feed.paginate(page: params[:page]) %>
				<%= render partial: 'shared/feed_item', collection: @userfeed %>
			</ol>
			<%= will_paginate @userfeed %>
		
	</div>
</div>