<% if feed_item.links.pluck(:seen).compact.inject(:+) != nil %>
	<div class="seen">
		<b>Viewed by:</b>
		<% feed_item.links.where(seen: !nil).each do |link| %>
			<% if link.seen != nil && link.invitation_id.present? %>
				<% if link == feed_item.links.where(seen: !nil).last %>
					<%= User.find_by(id: Invitation.find_by(id: link.invitation_id).invitee_id).name %>
				<% else %>
					<%= User.find_by(id: Invitation.find_by(id: link.invitation_id).invitee_id).name %>, 
				<% end %>
			<% end %>
		<% end %>
		<% if feed_item.links.present? %>
			<% if feed_item.links.find_by(invitation_id: nil).seen != nil %>
					<%= "& " if feed_item.links.pluck(:seen).compact.inject(:+) - feed_item.links.find_by(invitation_id: nil).seen > 0 %>						
					<%= pluralize(feed_item.links.find_by(invitation_id: nil).seen, 'anonymous') %>
				
			<% end %>
		<% end %>
	</div>
<% end %>
<% if Calinvite.find_by(gather_id: feed_item.id).present? && (Calinvite.find_by(gather_id: feed_item.id).cal_sent != "Yes" if Calinvite.find_by(gather_id: feed_item.id).present?) && (feed_item.num_joining >= feed_item.tilt) %>
	<div class="calinvite-form-title">Edit Calendar Invitation:<hr></div>
	<div class="calinvite-form">
		<%= form_for feed_item.calinvite  do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="">
				<%= f.hidden_field :gather_id, :value => feed_item.id %>
				<input type="text" class="form-control" name="calinvite[cal_activity]" placeholder="Activity" value="<%= feed_item.calinvite.cal_activity %>">
				<div class="input-group">
			        <input type="text" class="datepicker" name="calinvite[cal_date]" placeholder="Date" value="<%= feed_item.calinvite.cal_date.strftime("%a, %b %e, %Y") if feed_item.calinvite.cal_date.present? %>">
					<input type="text" class="timepicker" name="calinvite[cal_time]" placeholder="Time" value="<%= feed_item.calinvite.cal_time.strftime("%l:%M%p") if feed_item.calinvite.cal_time.present? %>">
		        </div>
		        <div class="input-group">
		        	<input type="text" class="form-control" name="calinvite[cal_location]" placeholder="Location" value="<%= feed_item.calinvite.cal_location %>">
		        </div>
		        <div class="input-group">
					<textarea name="calinvite[cal_details]" placeholder="Details"></textarea>
				</div>
			</div>
			<%= f.submit "Send out calendar invite", data: { disable_with: 'Sending...' }, class: "btn btn-block btn-large btn-update-no" %>
		<% end %>
		<div class="under-button-text">This calendar invitation will also automatically be sent to anyone who joins in the future</div>
	</div>
<% end %>