<li id="<%= feed_item.id %>">
<% if current_page?(root_url) || current_page?('/gathers') %>
	<div class="no-link-decoration"><a href="#" onclick="toggle_visibility('gather<%= feed_item.id %>'); return false">
<% end %>
  	<span class="activity"><%= feed_item.activity %></span>
<% if current_page?(root_url) || current_page?('/gathers') %>
	</a></div>
<% end %>	
	<% if feed_item.date.present? || feed_item.time.present? || feed_item.location.present? %>
		<span class="tilt">
			<%= feed_item.date.strftime("%A, %b %e") if feed_item.date.present? %>
			<% if feed_item.time.present? && feed_item.date.present? %>@<% end %>
			<%= feed_item.time.strftime("%l:%M%p") if feed_item.time.present? %>
			<% if feed_item.location.present? && (feed_item.date.present? || feed_item.time.present?) %><br><%end%>
			<% if feed_item.location.present? %>
				<img src="location.png" width="11"> <%= feed_item.location %>
			<% end %>
		</span>
	<% end %> 
	<span class="tilt-real">
		<% if feed_item.tilt == nil %>
		<% else %>
			<% if (feed_item.num_joining - 1) >= feed_item.tilt %>
				<b><%= "It's taken off!" %></b>
			<% else %>
			<%= feed_item.tilt - feed_item.num_joining + 1 %> more to take off
			<% end %>
		<% end %> 
	</span>

	<span class="invited"><div class="user_avatars">
	<% feed_item.invitations.each do |invitation| %>
		<% if invitation.status == "Yes" %>
				<div id="circle-yes">
					<% if current_page?(root_url) || current_page?('/gathers') %>
						<% if invitation.invitee == current_user %>
							<a href="<%= root_url %>" title="<%= invitation.invitee.name %>">
						<% else %>
							<a href="<%= user_path(invitation.invitee) %>" title="<%= invitation.invitee.name %>">
						<% end %>
					<% end %>
					<% if invitation.invitee == feed_item.user %><b><% end %>
					<% if invitation.invitee.name.present? %>
						<%= invitation.invitee.name.at(0.1).upcase %>
					<% else %>
						<%= invitation.invitee.email.at(0.1).upcase %>
					<% end %>
					<% if invitation.invitee == feed_item.user %></b><% end %>
				</a>
			</div>
		<% end %>
	<% end %>

	<% feed_item.invitations.each do |invitation| %>
		<% if invitation.status == "NA" %>
				<div id="circle-no">
					<% if current_page?(root_url) || current_page?('/gathers') %>
						<% if invitation.invitee == current_user %>
							<a href="<%= root_url %>" title="<%= invitation.invitee.name %>">
						<% else %>
							<a href="<%= user_path(invitation.invitee) %>" title="<%= invitation.invitee.name %>">
						<% end %>
					<% end %>
					<% if invitation.invitee == feed_item.user %><b><% end %>
					<% if invitation.invitee.name.present? %>
						<%= invitation.invitee.name.at(0.1).upcase %>
					<% else %>
						<%= invitation.invitee.email.at(0.1).upcase %>
					<% end %>
					<% if invitation.invitee == feed_item.user %></b><% end %>
				</a>
		</div>
		<% end %>
		<!-- 		<%= link_to gravatar_for(invitation.invitee, size:30), invitation.invitee %> -->
	<% end %>

	<% if current_page?(root_url) %>
		<a href="#rebloon" onclick="reBloon(<%= feed_item.invited.to_json %>, 'tags')"><img src='rebloon-s.png' onmouseover="this.src='rebloon-h.png'"
	         onmouseout="this.src='rebloon-s.png'" title="rebloon" width="25" style= 'vertical-align: top;'></a>
	<% end %>
	
	<div id="gather<%= feed_item.id %>" style="display:none;">

		<p class="tilt"></p>
		<% if feed_item.more_details.present? %>
			<p class="tilt"> 		
				<u>Details</u><br>
				<%= feed_item.more_details %>
			</p>
		<% end %>

		<% if feed_item.updates.present? %>
			<p class="tilt"> 		
				<u>Updates</u><br>
				<% feed_item.updates.pluck(:id).each do |i| %>
					<%= User.find_by(id: Update.find_by(id: i).user_id).name.split(' ').first %>: <%= Update.find_by(id: i).content %><br>
				<% end %>
			</p>
		<% end %>

		<% if feed_item.details.present? %>
			<p class="tilt"> 
				<u>Conversation</u>
				<% feed_item.details.split("<br>").each do |message| %>
					<%= message %><br>
				<% end %>
			</p>
		<% end %>

		<p class="tilt"><small>
			Organized by <%= feed_item.user.name %> <%= time_ago_in_words(feed_item.created_at) %> ago
				<% if current_user?(feed_item.user) %>
		  			<%= link_to "delete", feed_item, method: :delete, data: { confirm: "You sure?" }, title: feed_item.activity %>
		  		<% end %>
		</p></small>

	<% if current_page?(root_url) %>
		<% if feed_item.completed.blank? %>
			<% if feed_item.user == current_user %>
				<%= form_for(Update.new) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<div class="field-in-gather-org">
						<%= f.hidden_field :user_id, :value => current_user.id %>
						<%= f.hidden_field :gather_id, :value => feed_item.id %>
						<textarea id="tags" name="update[content]" placeholder="Update, e.g. Tix are running out, respond within next hour" size="40"></textarea>
					</div>
					<%= f.submit "Send update to all", class: "btn btn-block btn-update-org" %>
				<% end %>
			<% elsif feed_item.invitations.find_by(invitee_id: current_user.id).status == "NA" %>
				<%= form_for(Update.new) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<div class="field-in-gather-no">
						<%= f.hidden_field :user_id, :value => current_user.id %>
						<%= f.hidden_field :gather_id, :value => feed_item.id %>
						<textarea id="tags" name="update[content]" placeholder="Can't make it bc..." size="40"></textarea>
					</div>
					<%= f.submit "Respond to organizer", class: "btn btn-block btn-update-no" %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

	</div>
	
	
	</div></span>

	
		<% if feed_item.tilt.present? && feed_item.completed.blank? %>
			<span><%= render 'shared/join_form', :feed_item => feed_item %></span>
		<% end %>
		<% if feed_item.completed.present? %>
			<span class="completed">Completed</span>
		<% end %>
</li>