<li id="<%= feed_item.id %>">
	<table class="title-table"><tr>
		<td class="td-activity">
		  	<div class="activity">
	  			<%= feed_item.activity %>
		  	</div>
  		</td>
  		<td class="td-info">
			<% if feed_item.date.present? %>
				<div class="gather-date">					
					<% if feed_item.date_2.present? || feed_item.date_3.present? %>
						<i class="fa fa-calendar-o"></i>&nbsp Date TBD
					<% else %>
						<i class="fa fa-calendar-o"></i>&nbsp <%= feed_item.date.strftime("%a, %b %-e") %>
					<% end %>
				</div>
			<% end %>				
			<% if feed_item.time.present? %>
				<div class="gather-time">					
					<% if feed_item.time_2.present? || feed_item.time_3.present? %>
						<i class="fa fa-clock-o"></i>&nbsp Time TBD
					<% else %>
						<i class="fa fa-clock-o"></i>&nbsp <%= feed_item.time.strftime("%-l:%M%p") %>
					<% end %>
				</div>
			<% end %>
			<% if feed_item.location.present? %>				
				<div class="gather-location">
					<% if feed_item.location_2.present? || feed_item.location_3.present? %>
						<i class="fa fa-map-marker"></i>&nbsp Location TBD
					<% else %>
						<i class="fa fa-map-marker"></i>&nbsp <%= feed_item.location %>
					<% end %>
				</div>
			<% end %>
		</td>
	</tr></table>

	<span class="invited"><div class="user_avatars">
		<% if (feed_item.num_joining) >= feed_item.tilt %>
			<div class="circle-yes-text"><%= "Enough joined - this is on!" %></div>
		<% else %>
			<div class="circle-na-text"><%= feed_item.tilt - feed_item.num_joining %> more must join for this to happen</div>
		<% end %>
	<% feed_item.invitations.each do |invitation| %>
		<% if invitation.status == "Yes" %>
			<div id="circle-yes">
				<% if current_page?(root_url) || current_page?('/gathers') %>
					<% if invitation.invitee == current_user %>
						<a href="<%= root_url %>" title="<%= invitation.invitee.name %>">
					<% else %>
						<a href="<%= user_path(invitation.invitee) %>" title="<%= invitation.invitee.name %>">
					<% end %>
				<% end %>
				<% if invitation.invitee == feed_item.user %><b><% end %>
				<% if invitation.invitee.name.present? %>
					<%= invitation.invitee.name.at(0.1).upcase %><%= invitation.invitee.name.split(' ').last.at(0.1).upcase if invitation.invitee.name.split(' ').second.present? %>
				<% else %>
					<%= invitation.invitee.email.at(0.1).upcase %>
				<% end %>
				<% if invitation.invitee == feed_item.user %></b><% end %>
				</a>
			</div>
		<% end %>
	<% end %>

	<% feed_item.invitations.each do |invitation| %>
		<% if invitation.status == "NA" %>
			<div id="circle-na">
				<% if current_page?(root_url) || current_page?('/gathers') %>
					<% if invitation.invitee == current_user %>
						<a href="<%= root_url %>" title="<%= invitation.invitee.name %>">
					<% else %>
						<a href="<%= user_path(invitation.invitee) %>" title="<%= invitation.invitee.name %>">
					<% end %>
				<% end %>
				<% if invitation.invitee == feed_item.user %><b><% end %>
				<% if invitation.invitee.name.present? %>
					<%= invitation.invitee.name.at(0.1).upcase %><%= invitation.invitee.name.split(' ').last.at(0.1).upcase if invitation.invitee.name.split(' ').second.present? %>
				<% else %>
					<%= invitation.invitee.email.at(0.1).upcase %>
				<% end %>
				<% if invitation.invitee == feed_item.user %></b><% end %>
				</a>
			</div>
		<% end %>
	<% end %>

	<% feed_item.invitations.each do |invitation| %>
		<% if invitation.status == "No" %>
			<div id="circle-no">
				<% if current_page?(root_url) || current_page?('/gathers') %>
					<% if invitation.invitee == current_user %>
						<a href="<%= root_url %>" title="<%= invitation.invitee.name %>">
					<% else %>
						<a href="<%= user_path(invitation.invitee) %>" title="<%= invitation.invitee.name %>">
					<% end %>
				<% end %>
				<% if invitation.invitee == feed_item.user %><b><% end %>
				<% if invitation.invitee.name.present? %>
					<%= invitation.invitee.name.at(0.1).upcase %><%= invitation.invitee.name.split(' ').last.at(0.1).upcase if invitation.invitee.name.split(' ').second.present? %>
				<% else %>
					<%= invitation.invitee.email.at(0.1).upcase %>
				<% end %>
				<% if invitation.invitee == feed_item.user %></b><% end %>
				</a>
			</div>
		<% end %>
	<% end %>
	</div></span>

	<% if signed_in? && (current_page?(root_url) || current_page?(controller: 'gathers', action: 'show')) && (Invitation.find_by(invitee_id: current_user.id, gathering_id: feed_item.id).present? ) %>
		<% if (Invitation.find_by(invitee_id: current_user.id, gathering_id: feed_item.id).status == "Yes") %>
			<% if (feed_item.user_id == current_user.id) && (Invitation.find_by(invitee_id: current_user.id, gathering_id: feed_item.id).status == "Yes") %>		
				<%= render 'shared/cal_invite_form', :feed_item => feed_item %>		
			<% end %>
		<% end %>
	<% end %>

	<% if current_page?(root_url) || current_page?(controller: 'gathers', action: 'show') %>
		<% if signed_in? && Invitation.find_by(invitee_id: current_user.id, gathering_id: feed_item.id).present? %>
			<div class="join-form">
		<% end %>
		<% if !request.path.match(/^\/users/) %>
			<% if feed_item.completed.blank? %>
				<span><%= render 'shared/join_form', :feed_item => feed_item %></span> <!-- USED TO BE :feed_item => feed_item -->
			<% end %>
			<% if feed_item.completed.present? %>
				<span class="completed">Completed</span>
			<% end %>
		<% end %>
		<% if signed_in? %>	
			</div>
		<% end %>	
	<% end %>

	<% if signed_in? && (current_page?(root_url) || current_page?(controller: 'gathers', action: 'show')) %>
		<div class="all-tabs">
		  <div class="tabs">
			<div class="misc-actions">
				<ol>
					<li><a href="#tabs-1_<%=feed_item.id %>" id="ga-reply-tab">Reply</a>
					<li><a href="#tabs-2_<%=feed_item.id %>" id="ga-invite-tab">Invite</a>
					<li><a href="#tabs-3_<%=feed_item.id %>" id="ga-convo-tab">Convo</a>
					<li><a href="#tabs-4_<%=feed_item.id %>" id="ga-rebloon-tab">Rebloon</a>
				</ol>
			</div>

			<div id="tabs-1_<%=feed_item.id %>">
				<div class="tab-form">
			    	<% if feed_item.completed.blank? %>
						<% if feed_item.user == current_user %>
							<%= form_for(Update.new) do |f| %>
								<%= render 'shared/error_messages', object: f.object %>
								<div class="field-in-gather-org">
									<%= f.hidden_field :user_id, :value => current_user.id %>
									<%= f.hidden_field :gather_id, :value => feed_item.id %>
									<textarea name="update[content]" placeholder="e.g. Tix almost out, join within hour" size="60"></textarea>
								</div>
								<%= f.submit "Send update to all", data: { disable_with: 'Sending update...' }, class: "btn btn-block btn-large btn-update" %>
							<% end %>
						<% else %>
							<%= form_for(Update.new) do |f| %>
								<%= render 'shared/error_messages', object: f.object %>
								<div class="field-in-gather-no">
									<%= f.hidden_field :user_id, :value => current_user.id %>
									<%= f.hidden_field :gather_id, :value => feed_item.id %>
									<textarea name="update[content]" placeholder="Sorry, can't make it bc..." size="60"></textarea>
								</div>
								<%= f.submit "Respond to organizer", data: { disable_with: 'Sending response...' }, class: "btn btn-block btn-large btn-update" %>
							<% end %>
						<% end %>
					<% else %>
						<div class="already-completed">This activity has already been completed</div>
					<% end %>
				</div>
			</div>
			
			<div id="tabs-2_<%=feed_item.id %>">
				<div class="tab-form">
				    <% if feed_item.completed.blank? %>
						<!-- <div class="name-select-title">Select friends to invite:<hr></div> -->
							<!-- <textarea class="share-link-area" size="60" onclick="this.focus();this.select()" readonly="readonly">Interested in hanging out with me? Join me here: bloon.us/<%= feed_item.gen_link %></textarea> -->
				    	<%= form_for(InviteMore.new) do |f| %>
					    	<%= f.hidden_field :user_id, :value => current_user.id %>
	                        <%= f.hidden_field :gather_id, :value => feed_item.id %>
				    		<textarea style="display:none;" class="select-result-<%= feed_item.id %>" id="select-result-<%= feed_item.id %>" name="invite_more[more_invitees]" ></textarea>
					    	<div class="name-select-area-feed">
					    		<ol class="selectable" id="select-result-<%= feed_item.id %>">
									<% current_user.friended_users.where("phone IS NOT NULL").order(:name).each do |friend| %>
										<% if not feed_item.invited.include? friend.email %>
											<li class="name-select" value="<%= friend.name %>">+<%= friend.name %> <div style="display:none;">(<%= friend.email %>) </div></li>
										<% end %>
									<% end %>
								</ol>
								<% if feed_item.gen_link.present? %>
									<div class="name-select-link">Invite others by giving them this link: <b>bloon.us/<%= feed_item.gen_link %></b></div>
								<% end %>
							</div>
						<% if current_user.friended_users.where("phone IS NOT NULL").count != 0 %>
						<%= f.submit "Invite selected", data: { disable_with: 'Inviting...' }, class: "btn btn-block btn-large btn-update" %>
						<% end %>
						<% end %>
					<% else %>
						<div class="already-completed">This activity has already been completed</div>
					<% end %>
				</div>
			</div>
			
			<div id="tabs-3_<%=feed_item.id %>">
				<% if feed_item.more_details.present? %>
					<div class="name-results-title">Details<hr></div>
					<p class="in-card-p"><%= feed_item.more_details %></p>
				<% end %>

				<% if feed_item.updates.present? %>
					<div class="name-results-title">Updates<hr></div>
					<p class="in-card-p">
						<% feed_item.updates.pluck(:id).each do |i| %>
							<b><%= User.find_by(id: Update.find_by(id: i).user_id).name.split(' ').first %>:</b> <%= Update.find_by(id: i).content %><br>
					
						<% end %>
					</p>
				<% end %>

				<% if feed_item.details.present? %>
						<div class="name-results-title">Conversation<hr></div>
						<p class="in-card-p">	
							<% feed_item.details.split("<br>").each do |message| %>
								<% if message != " " %>
									<b><%= message.split(":").first %></b>: <%= message.split(":",2).second %><br>
								<% end %>
							<% end %>
						</p>
				<% end %>

				<div class="organized-by">
					Organized by <%= feed_item.user.name %> <%= time_ago_in_words(feed_item.created_at) %> ago
						<% if current_user?(feed_item.user) %>
				  			<%= link_to "delete", { controller: "gathers", action: 'destroy', id: feed_item.id }, method: :delete, data: { confirm: "You sure?" } %>
				  		<% end %>
				</div>
			</div>

			<div id="tabs-4_<%=feed_item.id %>">
			    <% if signed_in? %>
			    	<% friends_with_no_phone = "no" %>
			    	<% feed_item.invitations.pluck(:invitee_id).each do |i| %>
			    		<% friends_with_no_phone = "yes" if ( User.find_by(id: i).phone.nil? || User.find_by(id: i).phone == "" ) %>
			    	<% end %>
			    	<% if friends_with_no_phone == "yes" %>
			    		<div class="organized-by">Not all friends here can be reblooned :(</div>
			    	<% else %>
						<div class="organized-by"><a href="#rebloon" id="ga-rebloon-link" onclick="make_visible('gather_form'); reBloon(<%= feed_item.invited.to_json %>, 'new-gather-form-invite', 'gather_form'); whosInvited(<%= User.where(id: feed_item.invitations.pluck(:invitee_id)).pluck(:name).join(", ").to_json %>, 'whos-invited', 'gather_form')">Create a new Bloon inviting the same people
				     	</a></div>
				     <% end %>
				<% end %>
			</div>

			<div id="tabs-5_<%=feed_item.id %>">			    
			</div>
		</div>
	<% end %>
<div class="d-effect"></div>
</li>