<li id="<%= feed_item.id %>">
	<span class="activity"><%= feed_item.activity %></span>
	<span class="tilt">
		<% if feed_item.tilt == nil %>
		<% else %>
			<% if (feed_item.num_joining - 1) >= feed_item.tilt %>
				<b><%= "It's taken off!" %></b>
			<% else %>
			<%= feed_item.tilt - feed_item.num_joining + 1 %> more to take off
			<% end %>
		<% end %> 
	</span>

	<span class="invited"><div class="user_avatars">
	<% feed_item.invitations.each do |invitation| %>
		<% if invitation.status == "Yes" %>
				<div id="circle-yes">
					<% if current_page?(root_url) %>
						<% if invitation.invitee == current_user %>
							<a href="<%= root_url %>">
						<% else %>
							<a href="<%= user_path(invitation.invitee) %>">
						<% end %>
					<% end %>
					<% if invitation.invitee == feed_item.user %><b><% end %>
					<% if invitation.invitee.name.present? %>
						<%= invitation.invitee.name.at(0.1).upcase %>
					<% else %>
						<%= invitation.invitee.email.at(0.1).upcase %>
					<% end %>
					<% if invitation.invitee == feed_item.user %></b><% end %>
				</a>
			</div>
		<% end %>
	<% end %>

	<% feed_item.invitations.each do |invitation| %>
		<% if invitation.status == "NA" %>
				<div id="circle-no">
					<% if current_page?(root_url) %>
						<% if invitation.invitee == current_user %>
							<a href="<%= root_url %>">
						<% else %>
							<a href="<%= user_path(invitation.invitee) %>">
						<% end %>
					<% end %>
					<% if invitation.invitee == feed_item.user %><b><% end %>
					<% if invitation.invitee.name.present? %>
						<%= invitation.invitee.name.at(0.1).upcase %>
					<% else %>
						<%= invitation.invitee.email.at(0.1).upcase %>
					<% end %>
					<% if invitation.invitee == feed_item.user %></b><% end %>
				</a>
		</div>
		<% end %>
		<!-- 		<%= link_to gravatar_for(invitation.invitee, size:30), invitation.invitee %> -->
	<% end %>

	<% if current_page?(root_url) %>
		&nbsp<div class="no-link-decoration"><a href="#" onclick="toggle_visibility('gather<%= feed_item.id %>'); return false">
	  		&nbsp<b class="caret"></b>&nbsp&nbsp
		</a></div>
			<div id="gather<%= feed_item.id %>" style="display:none;">
				<p class="tilt">Invited: 
					<% feed_item.invited_yes.downcase.scan(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/i).each do |invitee| %>
					    <%= invitee %>
					<% end %>
					<% feed_item.invited_no.downcase.scan(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/i).each do |invitee| %>
					    <%= invitee %>
					<% end %>
				</p>
				<p class="tilt">
					<% if feed_item.details.present? %>
						<% feed_item.details.split("<br>").each do |message| %>
							<%= message %><br>
						<% end %>
					<% end %>
				</p>
				<p class="tilt"><small>
					Created by <%= feed_item.user.name %> <%= time_ago_in_words(feed_item.created_at) %> ago
						<% if current_user?(feed_item.user) %>
				  			<%= link_to "delete", feed_item, method: :delete, data: { confirm: "You sure?" }, title: feed_item.activity %>
				  		<% end %>
				</p></small>
			</div>
	<% end %>
	</div></span>

	
		<% if feed_item.tilt.present? && feed_item.completed.blank? %>
			<span><%= render 'shared/join_form', :feed_item => feed_item %></span>
		<% end %>
		<% if feed_item.completed.present? %>
			<span class="completed">Completed</span>
		<% end %>
</li>