<% activity_placeholder = [
	"Activity info e.g. Dinner party on Saturday",
	"Activity info e.g. 3-on-3 basketball at 3pm on Saturday",
	"Activity info e.g. Game night on Friday",
	"Activity info e.g. Michael's thing on Saturday",
	"Activity info e.g. The Black Keys concert",
	"Activity info e.g. Dinner tonight",
	"Activity info e.g. Saturday night",
	"Activity info e.g. Happy hour on Thursday",
	"Activity info e.g. Watch the Niners game at my place",
	"Activity info e.g. Pregame before the bday party",
	"Activity info e.g. Sunday brunch",
	"Activity info e.g. Watch Monsters U",
	"Activity info e.g. Oyster shucking at Tomales Bay",
	"Activity info e.g. Hike Mt. TAM",
	"Activity info e.g. Art gallery opening",
	"Activity info e.g. 18 holes at the Presidio Golf Course",
	"Activity info e.g. BBQ at Crissy Fields on Sunday at noon",
	"Activity info e.g. Game of Thrones viewing party at my place"
	] %>
<% invited_placeholder = [
	"Friends e.g. steve@email.com, woz@email.com...",
	"Friends e.g. barack@email.com, michelle@email.com...",
	"Friends e.g. larry@email.com, sergei@email.com...",
	"Friends e.g. batman@email.com, robin@email.com...",
	"Friends e.g. ben@email.com, jerry@email.com...",
	"Friends e.g. mickey@email.com, minnie@email.com...",
	"Friends e.g. ricky@email.com, lucy@email.com...",
	"Friends e.g. itchy@email.com, scratchy@email.com...",
	"Friends e.g. lewis@email.com, clark@email.com...",
	"Friends e.g. bert@email.com, ernie@email.com...",
	"Friends e.g. hova@email.com, bey@email.com...",
	"Friends e.g. tom@email.com, huck@email.com...",
	"Friends e.g. tom@email.com, jerry@email.com...",
	"Friends e.g. maryk@email.com, ashleyo@email.com...",
	"Friends e.g. pinky@email.com, brain@email.com...",
	"Friends e.g. mario@email.com, luigi@email.com"
	] %>

<%= form_for(@gather) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
 		<%= f.text_field :activity, placeholder: activity_placeholder.sample %>
		<textarea id="tags" name="gather[invited]" placeholder="<%= invited_placeholder.sample %>" size="40"></textarea>
		<%= f.number_field :tilt, placeholder: "# of add'l friends to critical mass" %>
	</div>
	<%= f.submit "Invite", class: "btn btn-large btn-block btn-invite" %>
<% end %>