<%= form_for(@gather) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_field :activity, placeholder: "Activity" %>
		<%= f.number_field :tilt, placeholder: "# of add'l friends to lift off" %>
		<%= f.text_area :invited, placeholder: "friend1@gmail.com, friend2@gmail.com..." %>
	</div>
	<%= f.submit "Invite", class: "btn btn-large btn-block btn-invite" %>
<% end %>