<% activity_placeholder = [
	"Activity e.g. Dinner party on Saturday",
	"Activity e.g. 3-on-3 basketball at 3pm on Saturday",
	"Activity e.g. Game night on Friday",
	"Activity e.g. Michael's thing on Saturday",
	"Activity e.g. The Black Keys concert",
	"Activity e.g. Dinner tonight",
	"Activity e.g. Happy hour on Thursday",
	"Activity e.g. Watch the Niners game at my place",
	"Activity e.g. Pregame before the bday party",
	"Activity e.g. Sunday brunch",
	"Activity e.g. Watch Monsters U",
	"Activity e.g. Oyster shucking at Tomales Bay",
	"Activity e.g. Hike Mt. TAM",
	"Activity e.g. Art gallery opening",
	"Activity e.g. 18 holes at the Presidio Golf Course",
	"Activity e.g. BBQ at Crissy Fields on Sunday at noon",
	"Activity e.g. Game of Thrones viewing party at my place"
	] %>
<% invited_placeholder = [
	"steve@email.com, woz@email.com...",
	"barack@email.com, michelle@email.com...",
	"larry@email.com, sergei@email.com...",
	"batman@email.com, robin@email.com...",
	"ben@email.com, jerry@email.com...",
	"mickey@email.com, minnie@email.com...",
	"ricky@email.com, lucy@email.com...",
	"itchy@email.com, scratchy@email.com...",
	"lewis@email.com, clark@email.com...",
	"bert@email.com, ernie@email.com...",
	"hova@email.com, bey@email.com...",
	"tom@email.com, huck@email.com...",
	"tom@email.com, jerry@email.com...",
	"maryk@email.com, ashleyo@email.com...",
	"pinky@email.com, brain@email.com...",
	"mario@email.com, luigi@email.com"
	] %>

<%= form_for(@gather) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
 		<%= f.text_field :activity, placeholder: activity_placeholder.sample %>
		<textarea id="tags" name="gather[invited]" placeholder="<%= invited_placeholder.sample %>" size="40"></textarea>
		<%= f.number_field :tilt, placeholder: "# of add'l friends to critical mass" %>
	</div>
	<%= f.submit "Invite", class: "btn btn-large btn-block btn-invite" %>
<% end %>