<% activity_placeholder = [
	"Create activity: Dinner party on Sat",
	"Create activity: 3on3 bball on Sat @3pm",
	"Create activity: Game night on Fri",
	"Create activity: Mike's thing on Sat",
	"Create activity: Jay Z concert on 11/3",
	"Create activity: Dinner tonight",
	"Create activity: Sat night partying",
	"Create activity: HH on Thurs @Palomino",
	"Create activity: Niners game @ my place Sunday",
	"Create activity: Pregame before Fri party",
	"Create activity: Sunday brunch at Plow",
	"Create activity: Monsters U tonight",
	"Create activity: Hike Mt. TAM this month",
	"Create activity: Golf Sun morning",
	"Create activity: BBQ Sat noon at my place ",
	"Create activity: GOT Sunday viewing party at my place",
	"Create activity: Art gallery opening"
	] %>
<% invited_placeholder = [
	"Friends e.g. steve@email.com, woz@email.com...",
	"Friends e.g. barack@email.com, michelle@email.com...",
	"Friends e.g. larry@email.com, sergei@email.com...",
	"Friends e.g. batman@email.com, robin@email.com...",
	"Friends e.g. ben@email.com, jerry@email.com...",
	"Friends e.g. mickey@email.com, minnie@email.com...",
	"Friends e.g. ricky@email.com, lucy@email.com...",
	"Friends e.g. itchy@email.com, scratchy@email.com...",
	"Friends e.g. lewis@email.com, clark@email.com...",
	"Friends e.g. bert@email.com, ernie@email.com...",
	"Friends e.g. hova@email.com, bey@email.com...",
	"Friends e.g. tom@email.com, huck@email.com...",
	"Friends e.g. tom@email.com, jerry@email.com...",
	"Friends e.g. maryk@email.com, ashleyo@email.com...",
	"Friends e.g. pinky@email.com, brain@email.com...",
	"Friends e.g. mario@email.com, luigi@email.com"
	] %>
<a name="rebloon"></a>
<%= form_for(@gather) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<a href="#" onclick="make_visible('gather_form'); return false" >
 		<%= f.text_field :activity, placeholder: activity_placeholder.sample %>
 		<a>
		<div id="gather_form" style="display:none;">
		<textarea class="tags" id="tags" name="gather[invited]" placeholder="<%= invited_placeholder.sample %>" size="40"></textarea>
		<input type="number" name="gather[tilt]" placeholder="# add'l friends to critical mass" title="Minimum number of friends needed to join you before this activity takes off">
<!-- 		 f.number_field :tilt, placeholder: "# add'l friends to critical mass" %>  -->
		<a href="#" onclick="toggle_visibility('optional'); return false" id="expand-form"><b>+</b><a>
		<div id="optional" style="display:none;">
			<span class="opt">Optional</span>
			<input type="text" id="datepicker" name="gather[date]" placeholder="Date">
			<input type="text" id="timepicker" name="gather[time]" placeholder="Time">
<!-- 			 f.date_field :date, placeholder: "Date" %> -->
<!-- 			 f.time_field :time, placeholder: "Time" %> -->
			<%= f.text_field :location, placeholder: "Location" %>
			<%= f.text_area :more_details, placeholder: "Details" %>
		</div>			
	</div>
	<%= f.submit "Organize Activity", :disable_with => "Please wait...", class: "btn btn-large btn-block btn-invite" %>

<% end %>
</div>