<% activity_placeholder = [
	"Activity details: Dinner party on Sat",
	"Activity details: 3on3 bball on Sat @3pm",
	"Activity details: Game night on Fri",
	"Activity details: Mike's thing on Sat",
	"Activity details: Jay Z concert on 11/3",
	"Activity details: Dinner tonight",
	"Activity details: Sat night partying",
	"Activity details: HH on Thurs @Palomino",
	"Activity details: Niners game @ my place Sunday",
	"Activity details: Pregame before Fri party",
	"Activity details: Sunday brunch at Plow",
	"Activity details: Monsters U tonight",
	"Activity details: Hike Mt. TAM this month",
	"Activity details: Golf Sun morning",
	"Activity details: BBQ Sat noon at my place ",
	"Activity details: GOT Sunday viewing party at my place",
	"Activity details: Art gallery opening"
	] %>
<% invited_placeholder = [
	"Friends e.g. steve@email.com, woz@email.com...",
	"Friends e.g. barack@email.com, michelle@email.com...",
	"Friends e.g. larry@email.com, sergei@email.com...",
	"Friends e.g. batman@email.com, robin@email.com...",
	"Friends e.g. ben@email.com, jerry@email.com...",
	"Friends e.g. mickey@email.com, minnie@email.com...",
	"Friends e.g. ricky@email.com, lucy@email.com...",
	"Friends e.g. itchy@email.com, scratchy@email.com...",
	"Friends e.g. lewis@email.com, clark@email.com...",
	"Friends e.g. bert@email.com, ernie@email.com...",
	"Friends e.g. hova@email.com, bey@email.com...",
	"Friends e.g. tom@email.com, huck@email.com...",
	"Friends e.g. tom@email.com, jerry@email.com...",
	"Friends e.g. maryk@email.com, ashleyo@email.com...",
	"Friends e.g. pinky@email.com, brain@email.com...",
	"Friends e.g. mario@email.com, luigi@email.com"
	] %>
<a name="rebloon"></a>
<%= form_for(@gather) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
 		<%= f.text_field :activity, placeholder: activity_placeholder.sample %>
		<textarea id="tags" name="gather[invited]" placeholder="<%= invited_placeholder.sample %>" size="40"></textarea>
		<%= f.number_field :tilt, placeholder: "# add'l friends to critical mass" %> 
		<a href="#" onclick="toggle_visibility('optional'); return false" id="expand-form"><b>+</b><a>
		<div id="optional" style="display:none;">
			<%= f.date_field :date, placeholder: "Date" %>
			<%= f.time_field :time, placeholder: "Time" %>
			<%= f.text_field :location, placeholder: "Location" %>
			<%= f.text_area :more_details, placeholder: "Details" %>
		</div>			
	</div>
	<%= f.submit "Invite", class: "btn btn-large btn-block btn-invite" %>
<% end %>