<% if signed_in? %>
	<% if Invitation.find_by(invitee: current_user, gathering: feed_item).present? %>
		<%= form_for(Invitation.find_by(invitee: current_user, gathering: feed_item)) do |f| %>
			<%= f.hidden_field :gathering_id, value: feed_item.id %>
			<%= f.submit "Join", class: "btn btn-large btn-block btn-join", data: { disable_with: 'Please wait...' } %>
			<span class="fake-passing">Passing</span>
		<% end %>
	<% else %>
		<%= form_for(@invitation) do |f| %>
			<%= f.hidden_field :gathering_id, value: feed_item.id %>
			<%= f.submit "Join", class: "btn btn-large btn-block btn-join", data: { disable_with: 'Please wait...' } %>
		<% end %>
	<% end %>
<% else %>        
    <%= form_for User.new do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.fields_for :invitations do |f_i| %>
	        <input type="hidden" name="invitation[gathering_id]" value="<%= @gather.id %>">
	        <div class="name-select-title">Complete profile:<hr></div>
	        <div class="all-wide-form side-padding-5">
	            <%= f.text_field :name, placeholder: "Name" %>
	            <%= f.text_field :email, placeholder: "Email"  %>
	            <%= f.text_field :phone, placeholder: "Cell Number" %>
	            <%= f.password_field :password, placeholder: "Password" %>
	        </div>

            <%= f.submit "Let's Go!", class: "btn btn-large btn-join btn-block" %>
        <% end %>
    <% end %>
<% end %>