<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= pluralize(current_user.gathers.count, "gathering") %> created
</span>
<span>
  <%= current_user.gatherings.count %> invited to
</span>