<!-- COPIED INTO users/show.html.erb so UPDATE CHANGES -->

<div class="row">
	<div class="span1">
<!-- 		<button type="button" class="btn-user-large btn-default"> -->
			<div id="circle-big"><a href="<%= root_path %>">
				<%= current_user.name.at(0.1) %>
				<!--   <%= gravatar_for current_user, size: 52 %> -->
			</a></div>
		<!-- </button> -->
	</div>
	<div class="span3 user-info-margin">
		<span class="name-big">
		  <%= current_user.name %>
		</span>
		<span class="user-stats">
		  <%= pluralize(current_user.gathers.count, "invite") %>, <%= current_user.gatherings.count %> invited
		</span>
	</div>
</div

