<span class="tilt">
Hey
<% if signed_in? %>
	<%= current_user.name.split(' ').first %>
<% else %>
	there
<% end %> - <%= @gather.user.name %> invited you to:
</span>
<% if current_page?(root_url) || current_page?('/gathers') %>
	<a href="#" onclick="toggle_visibility('gather<%= @gather.id %>'); return false">
<% end %>
  	<div class="activity">
  		<% if @gather.activity.present? && @gather.activity_2.blank? && @gather.activity_3.blank? %>
  			<%= @gather.activity %>
  		<% elsif (@gather.date_2.blank? && @gather.date_3.blank? && @gather.time_2.blank? && @gather.time_3.blank?) && (@gather.date.present? || @gather.time.present?) %>
  			Hang out <%= "on " + @gather.date.strftime("%A, %b %e") if @gather.date.present? %> <%= "@" + @gather.time.strftime("%l:%M%p") if @gather.time.present? %>	
  		<% elsif @gather.location_2.blank? && @gather.location_3.blank? && @gather.location.present? %>
  			Hang out at <%= @gather.location %>
  		<% else %>
  			Hang out
  		<% end %>
  		<% if @gather.more_details.present? || @gather.details.present? || @gather.updates.present?  %>
  			<% if current_page?(root_url) || current_page?('/gathers') %>
  				<div id="elip">&bull;&bull;&bull;</div>
  			<% end %>
  		<% end %>
  	</div>
<% if current_page?(root_url) || current_page?('/gathers') %>
	</a>
<% end %>
	<% if @date_set == "yes" || @time_set == "yes" || @location_set == "yes" %>
		<span class="tilt">
			<%= @gather.date.strftime("%A, %b %e") if @date_set == "yes" %>
			<% if @time_set == "yes" && @date_set == "yes" %>@<% end %>
			<%= @gather.time.strftime("%l:%M%p") if @time_set == "yes" %>
			<% if @location_set == "yes" && (@date_set == "yes" || @time_set == "yes") %><br><%end%>
			<% if @location_set == "yes" %>
				<img src="/location.png" width="11"> <%= @gather.location %>
			<% end %>
		</span>
	<% end %> 
	<div class="tilt-real">
		<%= @gather.tilt %> friends minimum
	</div>

	<span class="invited"><div class="user_avatars">
	<% @gather.invitations.each do |invitation| %>
		<% if invitation.status == "Yes" %>
				<div id="circle-yes">
					<% if current_page?(root_url) || current_page?('/gathers') %>
						<% if invitation.invitee == current_user %>
							<a href="<%= root_url %>" title="<%= invitation.invitee.name %>">
						<% else %>
							<a href="<%= user_path(invitation.invitee) %>" title="<%= invitation.invitee.name %>">
						<% end %>
					<% end %>
					<% if invitation.invitee == @gather.user %><b><% end %>
					<% if invitation.invitee.name.present? %>
						<%= invitation.invitee.name.at(0.1).upcase %>
					<% else %>
						<%= invitation.invitee.email.at(0.1).upcase %>
					<% end %>
					<% if invitation.invitee == @gather.user %></b><% end %>
				</a>
			</div>
		<% end %>
	<% end %>

	<% @gather.invitations.each do |invitation| %>
		<% if invitation.status == "NA" %>
				<div id="circle-no">
					<% if current_page?(root_url) || current_page?('/gathers') %>
						<% if invitation.invitee == current_user %>
							<a href="<%= root_url %>" title="<%= invitation.invitee.name %>">
						<% else %>
							<a href="<%= user_path(invitation.invitee) %>" title="<%= invitation.invitee.name %>">
						<% end %>
					<% end %>
					<% if invitation.invitee == @gather.user %><b><% end %>
					<% if invitation.invitee.name.present? %>
						<%= invitation.invitee.name.at(0.1).upcase %>
					<% else %>
						<%= invitation.invitee.email.at(0.1).upcase %>
					<% end %>
					<% if invitation.invitee == @gather.user %></b><% end %>
				</a>
		</div>
		<% end %>
	<% end %>

	<% if current_page?(root_url) %>
		<a href="#rebloon" onclick="reBloon(<%= @gather.invited.to_json %>, 'tags', 'gather_form')" title="Use this group in a new activity">
			<img src='rebloon_h.png' onmouseover="this.src='rebloon.png'"
	         onmouseout="this.src='rebloon_h.png'" title="Use this group in a new activity" width="20" style= 'vertical-align: middle; padding: 4px; margin-bottom: 4px;'>
	     </a>
	<% end %>
	<% if current_page?(root_url) && @gather.completed.blank? && @gather.invitations.find_by(invitee_id: current_user.id).status == "Yes" %>
		<a href="#" onclick="toggle_visibility('invite_more<%= @gather.id %>'); return false">
			<img src='add_more.png' onmouseover="this.src='add_more_h.png'"
	         onmouseout="this.src='add_more.png'" title="Invite more friends" width="20" style= 'vertical-align: middle; padding: 4px; margin-bottom: 4px;'>
		</a>
	<% end %>
	</div>
	<% if signed_in? %>
	<div id="invite_more<%= @gather.id %>" class="invite_more" style="display:none;">
		<%= form_for(InviteMore.new) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="field-in-gather-no">
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :gather_id, :value => @gather.id %>
				<textarea class="tags" name="invite_more[more_invitees]" placeholder="friend1@email.com, friend2@email.com" size="40"></textarea>
			</div>
			<%= f.submit "Invite More", class: "btn btn-block btn-large btn-update-no" %>
		<% end %>
	</div>
	<% end %>
	<div class="inside_card">
		<div id="gather<%= @gather.id %>" style="display:none;">
			<% if @gather.more_details.present? %>
					<p class="in-card-h">Details</p>
					<p class="in-card-p"><%= @gather.more_details %></p>
			<% end %>

			<% if @gather.updates.present? %>
				<p class="in-card-h">Updates</p>
				<p class="in-card-p">
					<% @gather.updates.pluck(:id).each do |i| %>
						<%= User.find_by(id: Update.find_by(id: i).user_id).name.split(' ').first %>: <%= Update.find_by(id: i).content %><br>
				
					<% end %>
				</p>
			<% end %>

			<% if @gather.details.present? %>
					<p class="in-card-h">Conversation</p>
					<p class="in-card-p">	
						<% @gather.details.split("<br>").each do |message| %>
							<% if message != " " %>
								<%= message %><br>
							<% end %>
						<% end %>
					</p>
			<% end %>

		<% if current_page?(root_url) %>
			<% if @gather.completed.blank? %>
				<% if @gather.user == current_user %>
					<p class="in-card-h">Send update to all invitees</p>
					<%= form_for(Update.new) do |f| %>
						<%= render 'shared/error_messages', object: f.object %>
						<div class="field-in-gather-org">
							<%= f.hidden_field :user_id, :value => current_user.id %>
							<%= f.hidden_field :gather_id, :value => @gather.id %>
							<textarea name="update[content]" placeholder="e.g. Tix almost out, join within hour" size="40"></textarea>
						</div>
						<%= f.submit "Send update to all", class: "btn btn-block btn-large btn-update-org" %>
					<% end %>
				<% elsif @gather.invitations.find_by(invitee_id: current_user.id).status == "NA" %>
					<p class="in-card-h">Send message to organizer</p>
					<%= form_for(Update.new) do |f| %>
						<%= render 'shared/error_messages', object: f.object %>
						<div class="field-in-gather-no">
							<%= f.hidden_field :user_id, :value => current_user.id %>
							<%= f.hidden_field :gather_id, :value => @gather.id %>
							<textarea name="update[content]" placeholder="Can't make it bc..." size="40"></textarea>
						</div>
						<%= f.submit "Respond to organizer", class: "btn btn-block btn-large btn-update-no" %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

		<p class="in-card-p"><small>
			Organized by <%= @gather.user.name %> <%= time_ago_in_words(@gather.created_at) %> ago
				<% if current_user?(@gather.user) %>
		  			<%= link_to "delete", @gather, method: :delete, data: { confirm: "You sure?" } %>
		  		<% end %>
		</small></p>
	</div>
	</div></span>

	<% if signed_in? %>	
		<% if @gather.tilt.present? && @gather.completed.blank? %>
			<span><%= render 'shared/join_form', :@gather => @gather %></span>
		<% end %>
		<% if @gather.completed.present? %>
			<span class="completed">Completed</span>
		<% end %>
	<% end %>
	<% if !signed_in? %>	
		<%= form_for User.new do |f| %>
		<!-- %= form_for @user, url: user_path do |f| %> -->
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.fields_for :invitations do |f_i| %>
	<!-- %= f_i.hidden_field :gathering_id, value: @gather.id %> -->
	<input type="hidden" name="invitation[gathering_id]" value="<%= @gather.id %>">
	<% if @gather.activity_2.present? || @gather.activity_3.present? %>
		<div class="tilt-real">Activity preference? </div>
		<div class="name-select-area name-select-invite"><%= @gather.activity %>?</div>
		<div class="radio-select-area">
				<div id="radio_activity_1">
				    <input type="radio" id="radio_activity_1_1" name="invitation[activity_1v]" value="1" checked="checked" /><label for="radio_activity_1_1">1st Choice</label>
				    <input type="radio" id="radio_activity_1_2" name="invitation[activity_1v]" value="2" /><label for="radio_activity_1_2">2nd</label>
				    <input type="radio" id="radio_activity_1_3" name="invitation[activity_1v]" value="3" /><label for="radio_activity_1_3">3rd</label>
				    <input type="radio" id="radio_activity_1_4" name="invitation[activity_1v]" value="10" /><label for="radio_activity_1_4">Can't do</label>
				</div>
		</div>
		<% if @gather.activity_2.present? %>
			<div class="name-select-area name-select-invite"><%= @gather.activity_2 %>?</div>
			<div class="radio-select-area">
					<div id="radio_activity_2">
					    <input type="radio" id="radio_activity_2_1" name="invitation[activity_2v]" value="1" /><label for="radio_activity_2_1">1st</label>
					    <input type="radio" id="radio_activity_2_2" name="invitation[activity_2v]" value="2" checked="checked" /><label for="radio_activity_2_2">2nd Choice</label>
					    <input type="radio" id="radio_activity_2_3" name="invitation[activity_2v]" value="3" /><label for="radio_activity_2_3">3rd</label>
					    <input type="radio" id="radio_activity_2_4" name="invitation[activity_2v]" value="10" /><label for="radio_activity_2_4">Can't do</label>
					</div>
			</div>
		<% end %>
		<% if @gather.activity_3.present? %>
			<div class="name-select-area name-select-invite"><%= @gather.activity_3 %>?</div>
			<div class="radio-select-area">
					<div id="radio_activity_3">
					    <input type="radio" id="radio_activity_3_1" name="invitation[activity_3v]" value="1" /><label for="radio_activity_3_1">1st</label>
					    <input type="radio" id="radio_activity_3_2" name="invitation[activity_3v]" value="2" /><label for="radio_activity_3_2">2nd</label>
					    <input type="radio" id="radio_activity_3_3" name="invitation[activity_3v]" value="3" checked="checked" /><label for="radio_activity_3_3">3rd Choice</label>
					    <input type="radio" id="radio_activity_3_4" name="invitation[activity_3v]" value="10" /><label for="radio_activity_3_4">Can't do</label>
					</div>
			</div>
		<% end %>
	<% end %>

	<% if @gather.date_2.present? || @gather.date_3.present? || @gather.time_2.present? || @gather.time_3.present? %>
		<div class="tilt-real">Date / time preference?</div>
		<div class="name-select-area name-select-invite"><%= @gather.date.strftime("%a, %b %e") if @gather.date.present? %> <%= @gather.time.strftime("%l:%M%p") if @gather.time.present? %>?</div>
		<div class="radio-select-area">
				<div id="radio_date_1">
				    <input type="radio" id="radio_date_1_1" name="invitation[date_1v]" value="1" checked="checked" /><label for="radio_date_1_1">1st Choice</label>
				    <input type="radio" id="radio_date_1_2" name="invitation[date_1v]" value="2" /><label for="radio_date_1_2">2nd</label>
				    <input type="radio" id="radio_date_1_3" name="invitation[date_1v]" value="3" /><label for="radio_date_1_3">3rd</label>
				    <input type="radio" id="radio_date_1_4" name="invitation[date_1v]" value="10" /><label for="radio_date_1_4">Can't do</label>
				</div>
		</div>
		<% if @gather.date_2.present? || @gather.time_2.present? %>
			<div class="name-select-area name-select-invite"><%= @gather.date_2.strftime("%a, %b %e") if @gather.date_2.present? %> <%= @gather.time_2.strftime("%l:%M%p") if @gather.time_2.present? %>?</div>
			<div class="radio-select-area">
					<div id="radio_date_2">
					    <input type="radio" id="radio_date_2_1" name="invitation[date_2v]" value="1" /><label for="radio_date_2_1">1st</label>
					    <input type="radio" id="radio_date_2_2" name="invitation[date_2v]" value="2" checked="checked" /><label for="radio_date_2_2">2nd Choice</label>
					    <input type="radio" id="radio_date_2_3" name="invitation[date_2v]" value="3" /><label for="radio_date_2_3">3rd</label>
					    <input type="radio" id="radio_date_2_4" name="invitation[date_2v]" value="10" /><label for="radio_date_2_4">Can't do</label>
					</div>
			</div>
		<% end %>
		<% if @gather.date_3.present? || @gather.time_3.present? %>
			<div class="name-select-area name-select-invite"><%= @gather.date_3.strftime("%a, %b %e") if @gather.date_3.present? %> <%= @gather.time_3.strftime("%l:%M%p") if @gather.time_3.present? %>?</div>
			<div class="radio-select-area">
					<div id="radio_date_3">
					    <input type="radio" id="radio_date_3_1" name="invitation[date_3v]" value="1" /><label for="radio_date_3_1">1st</label>
					    <input type="radio" id="radio_date_3_2" name="invitation[date_3v]" value="2" /><label for="radio_date_3_2">2nd</label>
					    <input type="radio" id="radio_date_3_3" name="invitation[date_3v]" value="3" checked="checked" /><label for="radio_date_3_3">3rd Choice</label>
					    <input type="radio" id="radio_date_3_4" name="invitation[date_3v]" value="10" /><label for="radio_date_3_4">Can't do</label>
					</div>
			</div>
		<% end %>
	<% end %>

	<% if @gather.location_2.present? || @gather.location_3.present? %>
		<div class="tilt-real">Location preference?</div>
		<div class="name-select-area name-select-invite"><%= @gather.location %>?</div>
		<div class="radio-select-area">
				<div id="radio_location_1">
				    <input type="radio" id="radio_location_1_1" name="invitation[location_1v]" value="1" checked="checked" /><label for="radio_location_1_1">1st Choice</label>
				    <input type="radio" id="radio_location_1_2" name="invitation[location_1v]" value="2" /><label for="radio_location_1_2">2nd</label>
				    <input type="radio" id="radio_location_1_3" name="invitation[location_1v]" value="3" /><label for="radio_location_1_3">3rd</label>
				    <input type="radio" id="radio_location_1_4" name="invitation[location_1v]" value="10" /><label for="radio_location_1_4">Can't do</label>
				</div>
		</div>
		<% if @gather.location_2.present? %>
			<div class="name-select-area name-select-invite"><%= @gather.location_2 %>?</div>
			<div class="radio-select-area">
					<div id="radio_location_2">
					    <input type="radio" id="radio_location_2_1" name="invitation[location_2v]" value="1" /><label for="radio_location_2_1">1st</label>
					    <input type="radio" id="radio_location_2_2" name="invitation[location_2v]" value="2" checked="checked" /><label for="radio_location_2_2">2nd Choice</label>
					    <input type="radio" id="radio_location_2_3" name="invitation[location_2v]" value="3" /><label for="radio_location_2_3">3rd</label>
					    <input type="radio" id="radio_location_2_4" name="invitation[location_2v]" value="10" /><label for="radio_location_2_4">Can't do</label>
					</div>
			</div>
		<% end %>
		<% if @gather.location_3.present? %>
			<div class="name-select-area name-select-invite"><%= @gather.location_3 %>?</div>
			<div class="radio-select-area">
					<div id="radio_location_3">
					    <input type="radio" id="radio_location_3_1" name="invitation[location_3v]" value="1" /><label for="radio_location_3_1">1st</label>
					    <input type="radio" id="radio_location_3_2" name="invitation[location_3v]" value="2" /><label for="radio_location_3_2">2nd</label>
					    <input type="radio" id="radio_location_3_3" name="invitation[location_3v]" value="3" checked="checked" /><label for="radio_location_3_3">3rd Choice</label>
					    <input type="radio" id="radio_location_3_4" name="invitation[location_3v]" value="10" /><label for="radio_location_3_4">Can't do</label>
					</div>
			</div>
		<% end %>
	<% end %>
<% end %>

			<%= f.text_field :name, placeholder: "Name" %>
			<%= f.text_field :email, placeholder: "Email"  %>
			<%= f.text_field :phone, placeholder: "Cell Number" %>
			<%= f.password_field :password, placeholder: "Password" %>

			<%= f.submit "Let's Go!", class: "btn btn-large btn-invite btn-block" %>
		<% end %>

	<% end %>