<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= favicon_link_tag 'favicon.ico' %>
	<title><%= full_title(yield(:title)) %></title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'> -->
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="touch-icon-ipad-retina.png" />
	<link rel="stylesheet" href="/font-awesome-4.0.3/css/font-awesome.min.css">
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
	<%= render 'layouts/mixpanel' %>
</head>

	<body data-no-turbolink>
		<%= render 'layouts/header' %>
		<div class="container-fluid">
			<% flash.each do |key, value| %>
				<div class="center alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<!-- render 'layouts/footer'  -->
			<%= debug(params) if Rails.env.development? %>
		</div>
		<%= render 'layouts/googleanalytics' if Rails.env.production? %>
		<%= render 'layouts/mixpanel_links' if Rails.env.production? %>
	</body>
</html>
