<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= favicon_link_tag 'favicon.ico' %>
	<title><%= full_title(yield(:title)) %></title>
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png" />
	<link rel="stylesheet" href="/font-awesome-4.0.3/css/font-awesome.min.css">
	<%= csrf_meta_tags %>
	<!-- for Facebook -->          
	<meta property="og:site_name" content="Bloon" />
	<meta property="og:title" content="<%= @gather.activity if @gather.present? %><%= "? Join us! We'll only do it if " if @gather.present? %><%= @gather.tilt if @gather.present? %><%= "+ join." if @gather.present? %><%= "Have more fun" if @gather.nil? %>" />
	<meta property="fb:app_id" content="1417718738480681" />
	<meta property="og:image" content="http://www.bloon.us/bloon1024.png" />
	<meta property="og:description" content="Bloon helps you organize social activities for you and your friends, effortlessly" />
	<%= render 'layouts/shim' %>
	<%= render 'layouts/mixpanel' %>
</head>
	<body data-no-turbolink>
		<%= render 'layouts/fb_js' %>		
		<%= render 'layouts/header' %>
		
		<% if signed_in? %>
			<a style="display:none" id="facebook-send-button" onclick="facebookSendDialog('http://bloon.us'); return false;">
	 			<div style="display:none" class="share-button fb for-non-mobile-only"></div>
	 		</a>
	 		<div class="tabs" style="display:none" >
				<ol>
					<li><a href="#tabs-new-gather-1" id="ga-new-gather-tab">Create New Bloon</a>
					<li><a href="#tabs-1" id="ga-reply-tab">Reply</a>
					<li><a href="#tabs-2" id="ga-invite-tab">Invite</a>
					<li><a href="#tabs-3" id="ga-convo-tab">Convo</a>
					<li><a href="#tabs-4" id="ga-rebloon-tab">Rebloon</a>
				</ol>
			</div>			
			<%= render 'shared/gather_modal' %>				
			<div class="container-fluid">
				<% flash.each do |key, value| %>
					<% if !flash[:new_gather_modal]  %>
						<div class="center alert alert-<%= key %>"><%= value %></div>
					<% end %>
				<% end %>
				<%= yield %>
				<!-- render 'layouts/footer'  -->
				<%= debug(params) if Rails.env.development? %>
			</div>
		<% else %>
			<div class="">
				<% flash.each do |key, value| %>
					<% if !flash[:new_gather_modal]  %>
						<div class="center alert alert-<%= key %>"><%= value %></div>
					<% end %>
				<% end %>
				<%= yield %>
				<!-- render 'layouts/footer'  -->
				<%= debug(params) if Rails.env.development? %>
			</div>
		<% end %>

		<%= render 'layouts/googleanalytics' if Rails.env.production? %>
		<%= render 'layouts/mixpanel_links' if Rails.env.production? %>
	</body>
</html>
