<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Bootstrap -->
    <!-- <link href="bootstrap.min.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= favicon_link_tag 'favicon.ico' %>
	<title><%= full_title(yield(:title)) %></title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="touch-icon-ipad-retina.png" />
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
	<%= render 'layouts/miscjs' %>
	<%= render 'layouts/autocomplete' if signed_in? %>
</head>

	<body>
		<%= render 'layouts/header' %>
		<div class="container-fluid">
			<% flash.each do |key, value| %>
				<div class="center alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<!-- render 'layouts/footer'  -->
			<%= debug(params) if Rails.env.development? %>
		</div>
		<%= render 'layouts/googleanalytics' if Rails.env.production? %>
	</body>
</html>
